html, body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #2d2d2b;
  color: #dddddd;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  line-height: 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: Georgia, serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 2rem;
}

p {
  white-space: pre-wrap;
  text-align: justify;
}

a {
  color: #7ab9ff;
}

b {
  font-size: 1.1rem;
}


.winter a, 
.winter h1, 
.winter h2, 
.winter h3, 
.winter h4, 
span.winter {
  color: #7ab9ff;
}

.spring a, 
.spring h1, 
.spring h2, 
.spring h3, 
.spring h4,
span.spring {
  color: #57A456;
}

.autumn a, 
.autumn h1, 
.autumn h2, 
.autumn h3, 
.autumn h4,
span.autumn {
  color: #cc7722;
}

.summer a, 
.summer h1, 
.summer h2, 
.summer h3, 
.summer h4,
span.summer {
  color: #ff595d;
}


.header {
  padding-left: 3.5rem;
}

.content {
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  padding-left: 5rem;
}

.header h4 {
  padding-left: 1.25rem;
}

.content h1 {
  padding-left: 0.5rem;
}

.content h2 {
  padding-left: 1rem;
}

.content h3 {
  padding-left: 2rem;
}

.content h4 {
  padding-left: 4rem;
}

